## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
import os
from dotenv import load_dotenv
load_dotenv()
weather_api_key = os.getenv("OpenWeather_API_KEY")
google_api_key = os.getenv("Google_API_KEY")

# Configure gmaps API key
gmaps.configure(api_key=google_api_key)

In [2]:
# 1. Import the WeatherPy_Database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Talnakh,RU,69.4865,88.3972,4.21,92,40,5.73,scattered clouds
1,1,Bluff,NZ,-46.6000,168.3333,60.64,84,20,14.74,few clouds
2,2,Beloha,MG,-25.1667,45.0500,79.05,49,2,15.52,clear sky
3,3,Klaksvik,FO,62.2266,-6.5890,45.52,92,79,20.00,broken clouds
4,4,Nanortalik,GL,60.1432,-45.2371,11.25,73,0,6.17,clear sky
...,...,...,...,...,...,...,...,...,...,...
701,701,Elk Point,US,42.6833,-96.6836,64.24,33,100,18.16,overcast clouds
702,702,Hvide Sande,DK,56.0045,8.1294,41.09,81,75,12.66,light rain
703,703,Repnoye,RU,51.5921,43.1861,33.40,100,40,11.41,scattered clouds
704,704,Mahibadhoo,MV,3.7833,72.9667,83.73,64,3,14.79,clear sky
705,705,Bucerias,MX,20.7500,-105.3333,67.98,80,94,3.18,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"]>= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Bluff,NZ,-46.6000,168.3333,60.64,84,20,14.74,few clouds
2,2,Beloha,MG,-25.1667,45.0500,79.05,49,2,15.52,clear sky
3,3,Klaksvik,FO,62.2266,-6.5890,45.52,92,79,20.00,broken clouds
5,5,Kapaa,US,22.0752,-159.3190,76.98,94,100,8.05,overcast clouds
6,6,East London,ZA,-33.0153,27.9116,70.74,88,0,4.61,clear sky
...,...,...,...,...,...,...,...,...,...,...
696,696,Mehamn,NO,71.0357,27.8492,42.71,56,100,34.31,overcast clouds
699,699,Algeciras,ES,36.1333,-5.4505,58.68,88,75,11.50,broken clouds
701,701,Elk Point,US,42.6833,-96.6836,64.24,33,100,18.16,overcast clouds
702,702,Hvide Sande,DK,56.0045,8.1294,41.09,81,75,12.66,light rain
705,705,Bucerias,MX,20.7500,-105.3333,67.98,80,94,3.18,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                379
City                   379
Country                374
Lat                    379
Lng                    379
Max Temp               379
Humidity               379
Cloudiness             379
Wind Speed             379
Current Description    379
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Bluff,NZ,-46.6000,168.3333,60.64,84,20,14.74,few clouds
2,2,Beloha,MG,-25.1667,45.0500,79.05,49,2,15.52,clear sky
3,3,Klaksvik,FO,62.2266,-6.5890,45.52,92,79,20.00,broken clouds
5,5,Kapaa,US,22.0752,-159.3190,76.98,94,100,8.05,overcast clouds
6,6,East London,ZA,-33.0153,27.9116,70.74,88,0,4.61,clear sky
...,...,...,...,...,...,...,...,...,...,...
696,696,Mehamn,NO,71.0357,27.8492,42.71,56,100,34.31,overcast clouds
699,699,Algeciras,ES,36.1333,-5.4505,58.68,88,75,11.50,broken clouds
701,701,Elk Point,US,42.6833,-96.6836,64.24,33,100,18.16,overcast clouds
702,702,Hvide Sande,DK,56.0045,8.1294,41.09,81,75,12.66,light rain
705,705,Bucerias,MX,20.7500,-105.3333,67.98,80,94,3.18,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
#hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp Current Description      Lat       Lng
1         Bluff      NZ     60.64          few clouds -46.6000  168.3333
2        Beloha      MG     79.05           clear sky -25.1667   45.0500
3      Klaksvik      FO     45.52       broken clouds  62.2266   -6.5890
5         Kapaa      US     76.98     overcast clouds  22.0752 -159.3190
6   East London      ZA     70.74           clear sky -33.0153   27.9116
7         Izumo      JP     53.55       broken clouds  35.3667  132.7667
8         Alofi      NU     78.69       broken clouds -19.0595 -169.9187
9    Monkey Bay      MW     73.38     overcast clouds -14.0728   34.9201
11    Busselton      AU     77.94           clear sky -33.6500  115.3333
14      Rikitea      PF     79.84           clear sky -23.1203 -134.9692

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_api_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params['location']=f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.count()

City                   374
Country                374
Max Temp               374
Current Description    374
Lat                    374
Lng                    374
Hotel Name             351
dtype: int64

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   351
Country                351
Max Temp               351
Current Description    351
Lat                    351
Lng                    351
Hotel Name             351
dtype: int64

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations,info_box_content = hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))